@import "~bootstrap/scss/bootstrap";

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.nav-app {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 0px solid rgba(77, 115, 56, 0.623);
  box-shadow: rgba(77, 115, 56, 0.623) 1px 1px 1px 0px;
  margin: auto;

  a {
    text-decoration: none;
    color: black;
    font-size: 12px;
  }
}
.welcome-message {
  color: rgba(77, 115, 56, 0.623);

  width: 40%;
  padding: 25px;
  margin: auto;
}

/* SortIcon.css */
.sort-icon {
  display: inline-block; /* Assurez-vous que l'icône est en ligne avec le texte */
}

.sort-icon svg {
  width: 1em; /* Ajustez la taille de l'icône selon vos besoins */
  height: 1em;
}

/* Style supplémentaire si nécessaire */
.sort-icon.asc {
  color: green; /* Couleur de l'icône de tri ascendant */
}

.sort-icon.desc {
  color: red; /* Couleur de l'icône de tri descendant */
}
